# Core
requests==2.31.0
loguru==0.7.2
pydantic==2.5.0
python-dotenv==1.0.0

# ML
scikit-learn>=1.4.2
xgboost>=2.0.0
joblib>=1.2.0
numpy>=1.25.2

# API
fastapi>=0.104.0
uvicorn>=0.24.0

# Utils
pyyaml>=6.0.1
